<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.dao.SpuVoMapper">

    <select id="findSpuByPage" resultType="com.leyou.vo.SpuVo">
        SELECT
        s.id,
        s.title,
        s.brand_id as brandId,
        s.cid1,
        s.cid2,
        s.cid3,
        s.create_time as createTime,
        b.`name` AS bname,
        s.saleable,
        s.sub_title as subTitle,
        CONCAT_WS('/',
        (SELECT y1.`name` FROM tb_category y1 WHERE y1.id=s.cid1),
        (SELECT y2.`name` FROM tb_category y2 WHERE y2.id=s.cid2),
        (SELECT y3.`name` FROM tb_category y3 WHERE y3.id=s.cid3)
        )AS cname
        FROM
        tb_spu s,
        tb_brand b
        <where>
            s.brand_id =b.id
            and s.valid = 1
            <if test="saleable != 2">
                and
                s.saleable =#{saleable}
            </if>
            <if test="key != null and key != ''">
                and s.title like '%${key}%'
            </if>
        </where>
        limit #{page},#{rows}
    </select>


    <!--findSpuCount-->
    <select id="findSpuCount" resultType="long">
        SELECT
        count(*)
        FROM
        tb_spu s,
        tb_brand b
        <where>
            s.brand_id =b.id
            and s.valid = 1
            <if test="saleable != 2">
                and
                s.saleable =#{saleable}
            </if>
            <if test="key != null and key != ''">
                and s.title like '%${key}%'
            </if>
        </where>
    </select>

    <!--findSpuVoBySpuId-->
    <select id="findSpuVoBySpuId" resultType="com.leyou.vo.SpuVo">
        SELECT s.id,
               s.title,
               s.brand_id    as brandId,
               s.cid1,
               s.cid2,
               s.cid3,
               s.create_time as createTime,
               b.`name`      AS bname,
               s.saleable,
               s.sub_title   as subTitle,
               CONCAT_WS('/',
                         (SELECT y1.`name` FROM tb_category y1 WHERE y1.id = s.cid1),
                         (SELECT y2.`name` FROM tb_category y2 WHERE y2.id = s.cid2),
                         (SELECT y3.`name` FROM tb_category y3 WHERE y3.id = s.cid3)
                   )         AS cname
        FROM tb_spu s,
             tb_brand b
        where s.brand_id = b.id
          and s.valid = 1
          and s.id = #{spuId}
    </select>

</mapper>